.headerBox {
  background-color: #333; /* Background color */
  padding: 10px; /* Padding around the header */
  padding-left: 25px;
  display: flex;
  gap: 30px;
  flex-direction: row;
}
.link {
  text-align: center; /* Center the text horizontally */
  font-size: 18px; /* Set the font size */
  font-weight: bold; /* Make the text bold */
  color: #646cff; /* Set the text color */
  text-transform: uppercase; /* Convert the text to uppercase */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  letter-spacing: 1px; /* Add letter spacing for better readability */
}

.active {
  color: #2d7bbd;
}
