:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}
p {
  font-size: 18px;
  text-align: center;
}
.scroll {
  position: fixed;
  bottom: 30px;
  right: 20px;
  border-color: #535bf2;
  background-color: #333;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  align-items: stretch;
}
.film-box {
  width: 200px;

  overflow: hidden;
  transition: transform 0.3s ease; /* Smooth transition for scale */

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
  border-radius: 10px;
  position: relative;
}

/* Existing styles */
.film-img img {
  width: 100%;
  height: auto;
}

.film-box:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.film-name {
  padding: 10px;
  text-align: center;
  color: white;
  text-align: center;
}
.star {
  z-index: 1000;
  top: 4px;
  right: 4px;
  color: rgb(255, 183, 0);
}
.star-container {
  position: absolute;
  z-index: 1000;
  top: 4px;
  right: 4px;
}
.star {
  animation: increaseScale 1s infinite; /* Apply infinite scale animation on hover */
}

@keyframes increaseScale {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.05); /* Increased scale */
  }
  100% {
    transform: scale(1); /* Initial scale */
  }
}
